<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cards</key>
	<array>
		<dict>
			<key>description</key>
			<string>The Fool</string>
			<key>meaning</key>
			<string>Folly, mania, extravagance, intoxication, delirium, frenzy, bewrayment.</string>
			<key>reverse</key>
			<string>Negligence, absence, distribution, carelessness, apathy, nullity, vanity.</string>
			<key>imageName</key>
			<string>ar00</string>
			<key>rank</key>
			<integer>0</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>The Magician</string>
			<key>meaning</key>
			<string>Skill, diplomacy, address, subtlety; sickness, pain, loss, disaster, snares of enemies; self-confidence, will; the Querent, if male.</string>
			<key>reverse</key>
			<string>Physician, Magus, mental disease, disgrace, disquiet.</string>
			<key>imageName</key>
			<string>ar01</string>
			<key>rank</key>
			<integer>1</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>The High Priestess</string>
			<key>meaning</key>
			<string>Secrets, mystery, the future as yet unrevealed; the woman who interests the Querent, if male; the Querent herself, if female; silence, tenacity; mystery, wisdom, science.</string>
			<key>reverse</key>
			<string>Passion, moral or physical ardour, conceit, surface knowledge.</string>
			<key>imageName</key>
			<string>ar02</string>
			<key>rank</key>
			<integer>2</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>The Empress</string>
			<key>meaning</key>
			<string>Fruitfulness, action, initiative, length of days; the unknown, clandestine; also difficulty, doubt, ignorance.</string>
			<key>reverse</key>
			<string>Light, truth, the unravelling of involved matters, public rejoicings; according to another reading, vacillation.</string>
			<key>imageName</key>
			<string>ar03</string>
			<key>rank</key>
			<integer>3</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>The Emperor</string>
			<key>meaning</key>
			<string>Stability, power, protection, realization; a great person; aid, reason, conviction; also authority and will.</string>
			<key>reverse</key>
			<string>Benevolence, compassion, credit; also confusion to enemies, obstruction, immaturity.</string>
			<key>imageName</key>
			<string>ar04</string>
			<key>rank</key>
			<integer>4</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>The Hierophant</string>
			<key>meaning</key>
			<string>Marriage, alliance, captivity, servitude; by another account, mercy and goodness; inspiration; the man to whom the Querent has recourse.</string>
			<key>reverse</key>
			<string>Society, good understanding, concord, overkindness, weakness.</string>
			<key>imageName</key>
			<string>ar05</string>
			<key>rank</key>
			<integer>5</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>The Lovers</string>
			<key>meaning</key>
			<string>Attraction, love, beauty, trials overcome.</string>
			<key>reverse</key>
			<string>Failure, foolish designs.</string>
			<key>imageName</key>
			<string>ar06</string>
			<key>rank</key>
			<integer>6</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>The Chariot</string>
			<key>meaning</key>
			<string>Succour, providence also war, triumph, presumption, vengeance, trouble.</string>
			<key>reverse</key>
			<string>Riot, quarrel, dispute, litigation, defeat.</string>
			<key>imageName</key>
			<string>ar07</string>
			<key>rank</key>
			<integer>7</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>Strength</string>
			<key>meaning</key>
			<string>Power, energy, action, courage, magnanimity; also complete success and honours.</string>
			<key>reverse</key>
			<string>Despotism, abuse of power, weakness, discord, disgrace.</string>
			<key>imageName</key>
			<string>ar08</string>
			<key>rank</key>
			<integer>8</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>The Hermit</string>
			<key>meaning</key>
			<string>Prudence, circumspection; also and especially treason, dissimulation, roguery, corruption.</string>
			<key>reverse</key>
			<string>Concealment, disguise, policy, fear, unreasoned caution.</string>
			<key>imageName</key>
			<string>ar09</string>
			<key>rank</key>
			<integer>9</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>Wheel of Fortune</string>
			<key>meaning</key>
			<string>Destiny, fortune, success, elevation, luck, felicity.</string>
			<key>reverse</key>
			<string>Increase, abundance, superfluity.</string>
			<key>imageName</key>
			<string>ar10</string>
			<key>rank</key>
			<integer>10</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>Justice</string>
			<key>meaning</key>
			<string>Equity, rightness, probity, executive; triumph of the deserving side in law</string>
			<key>reverse</key>
			<string>Law in all its departments, legal complications, bigotry, bias, excessive severity.</string>
			<key>imageName</key>
			<string>ar11</string>
			<key>rank</key>
			<integer>11</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>The Hanged Man</string>
			<key>meaning</key>
			<string>Wisdom, circumspection, discernment, trials, sacrifice, intuition, divination, prophecy.</string>
			<key>reverse</key>
			<string>Selfishness, the crowd, body politic.</string>
			<key>imageName</key>
			<string>ar12</string>
			<key>rank</key>
			<integer>12</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>Death</string>
			<key>meaning</key>
			<string>End, mortality, destruction, corruption also, for a man, the loss of a benefactor for a woman, many contrarieties; for a maid, failure of marriage projects.</string>
			<key>reverse</key>
			<string>Inertia, sleep, lethargy, petrifaction, somnambulism; hope destroyed.</string>
			<key>imageName</key>
			<string>ar13</string>
			<key>rank</key>
			<integer>13</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>Temperance</string>
			<key>meaning</key>
			<string>Economy, moderation, frugality, management, accommodation.</string>
			<key>reverse</key>
			<string>Things connected with churches, religions, sects, the priesthood, sometimes even the priest who will marry the Querent; also disunion, unfortunate combinations, competing interests.</string>
			<key>imageName</key>
			<string>ar14</string>
			<key>rank</key>
			<integer>14</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>The Devil</string>
			<key>meaning</key>
			<string>Ravage, violence, vehemence, extraordinary efforts, force, fatality; that which is predestined but is not for this reason evil.</string>
			<key>reverse</key>
			<string>Evil fatality, weakness, pettiness, blindness.</string>
			<key>imageName</key>
			<string>ar15</string>
			<key>rank</key>
			<integer>15</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>The Tower</string>
			<key>meaning</key>
			<string>Misery, distress, indigence, adversity, calamity, disgrace, deception, ruin. It is a card in particular of unforeseen catastrophe.</string>
			<key>reverse</key>
			<string>According to one account, the same in a lesser degree also oppression, imprisonment, tyranny.</string>
			<key>imageName</key>
			<string>ar16</string>
			<key>rank</key>
			<integer>16</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>The Star</string>
			<key>meaning</key>
			<string>Loss, theft, privation, abandonment; another reading says-hope and bright prospects</string>
			<key>reverse</key>
			<string>Arrogance, haughtiness, impotence.</string>
			<key>imageName</key>
			<string>ar17</string>
			<key>rank</key>
			<integer>17</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>The Moon</string>
			<key>meaning</key>
			<string>Hidden enemies, danger, calumny, darkness, terror, deception, occult forces, error.</string>
			<key>reverse</key>
			<string>Instability, inconstancy, silence, lesser degrees of deception and error.</string>
			<key>imageName</key>
			<string>ar18</string>
			<key>rank</key>
			<integer>18</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>The Sun</string>
			<key>meaning</key>
			<string>Material happiness, fortunate marriage, contentment.</string>
			<key>reverse</key>
			<string>The same in a lesser sense.</string>
			<key>imageName</key>
			<string>ar19</string>
			<key>rank</key>
			<integer>19</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>Judgement</string>
			<key>meaning</key>
			<string>Change of position, renewal, outcome. Another account specifies total loss though lawsuit.</string>
			<key>reversed</key>
			<string>Weakness, pusillanimity, simplicity; also deliberation, decision, sentence.</string>
			<key>imageName</key>
			<string>ar20</string>
			<key>rank</key>
			<integer>20</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
		<dict>
			<key>description</key>
			<string>The World</string>
			<key>meaning</key>
			<string>Assured success, recompense, voyage, route, emigration, flight, change of place.</string>
			<key>reverse</key>
			<string>Inertia, fixity, stagnation, permanence.</string>
			<key>imageName</key>
			<string>ar21</string>
			<key>rank</key>
			<integer>21</integer>
			<key>suit</key>
			<string>Trump</string>
			<key>color</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
